
@{
    ViewBag.Title = "Hakkinda";
}

<br />
<br />
<main>
    <div align="center">
        <img class="w3-round  w3-animate-top" src="~/Content/Umut.jpg" style="width:20% ; ">
    </div>

    <div id="Borge" class="w3-container person">
        <br>
        <h5 class="w3-opacity"> Umut Deper</h5>
        <h4><i class="fa fa-clock-o"></i> ERZURUM, Temmuz 3, 2002</h4>

        <hr>
        <p>
            Tabii, işte sizin için kısa bir biyografi:

            Ben Umut Deper, 2002 yılında İstanbulda'de doğdum. Bilgisayar bilimleri alanında eğitim görmekte olan bir üniversite öğrencisiyim.

            Bilgisayarlara olan ilgim, genç yaşlarda başladı ve zamanla tutkuya dönüştü. İlkokul ve ortaokul yıllarında programlama ve teknolojiyle ilgili projelerde yer aldım. Lise eğitimim sırasında, bilgisayar bilimleriyle ilgili temel becerilerimi geliştirmeye başladım.

            Üniversite hayatımda Düzce Üniversitesi'nde bilgisayar bilimleri alanında eğitim alıyorum. Programlama dilleri, veri yapıları, algoritmalar ve yazılım geliştirme süreçleri gibi temel konular üzerinde çalışıyorum. Aynı zamanda üniversite projelerine katılıyor ve staj deneyimleri elde etmek için fırsatlar arıyorum.

            Gelecekte yazılım alanında başarılı bir kariyer yapmayı hedefliyorum. Yenilikçi projelere katkıda bulunmak, teknolojiyi insanların hayatını kolaylaştıracak şekilde kullanmak ve sektörde önde gelen bir uzman olmak istiyorum.

            Kendimi sürekli olarak geliştirmek ve yenilikleri takip etmek için çaba sarf ediyorum. Teknolojik trendleri takip ediyor, yeni beceriler öğreniyor ve projelerde aktif olarak yer alarak pratik deneyim kazanıyorum.

            Umut Deper olarak, bilgisayar bilimleri alanında hedeflerime ulaşmak için azimle çalışıyor ve geleceğin teknolojik dünyasına katkıda bulunmayı amaçlıyorum.
        </p>

</main>



<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>ERZURUM</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>

    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">BAŞA GİT</span>
        <a class="w3-button w3-theme" href="#myPage">
            <span class="w3-xlarge">
                <i class="fa fa-chevron-circle-up"></i>
            </span>
        </a>
    </div>
</footer>